<h2>User info</h2>
<%= form_with model: @user, url: { action: "edit", id: @user.id } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :profile_image %>
  <%= f.file_field :profile_image %>

  <%= f.label :introduction %>
  <%= f.text_area :introduction %>

  <%= f.submit "Update User" %>
<% end %>