
<div class="container">
  <h2 class="text-center mb-4">User info</h2>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
  
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with model: @user do |f| %>
    <label for="inputName">Name</label><br>
    <%= f.text_field :name, autofocus: true, id: "Name"%><br>
    <label for="inputImage">Image</label><br>
    <%= f.file_field :profile_image, autofocus: true, accept: "image/*" %> 
    <label for="inputIntroduction">Introduction</label><br>
    <%= f.text_area :introduction, autofocus: true, id: "Introduction" %><br>
    <%= f.submit "Update User" %>
    <% end %>
  </div>
</div>
