<div class="col-md-4">
  <%= render 'books/left', user: @user %>
</div>

<div class="col-md-8">
  <h2>Books</h2>
  <div class="container">
      <div class="row">
        <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user.books.each do |book| %>
          <%= link_to book_path(book.id) do %>
          <% end %>
          <td><%= image_tag book.user.get_profile_image(100,100) %></td>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td><%= book.body %></td>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>